@import "tailwindcss";

.no-tailwind * {
  all: revert !important;
}

@theme inline {
  --color-primary: "#A50015";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
